[submodule "Term 1/CarND-T1-P1-LaneLines"]
	path = Term 1/CarND-T1-P1-LaneLines
	url = git@github.com:norman-thomas/CarND-T1-P1-LaneLines.git
[submodule "Term 1/CarND-T1-P2-Traffic-Sign-Classifier-Project"]
	path = Term 1/CarND-T1-P2-Traffic-Sign-Classifier-Project
	url = git@github.com:norman-thomas/CarND-T1-P2-Traffic-Sign-Classifier-Project.git
[submodule "Term 1/CarND-T1-P3-Behavioral-Cloning"]
	path = Term 1/CarND-T1-P3-Behavioral-Cloning
	url = git@github.com:norman-thomas/CarND-T1-P3-Behavioral-Cloning.git
[submodule "Term 1/CarND-T1-P4-Advanced-Lane-Lines"]
	path = Term 1/CarND-T1-P4-Advanced-Lane-Lines
	url = git@github.com:norman-thomas/CarND-T1-P4-Advanced-Lane-Lines.git
[submodule "Term 1/CarND-T1-P5-Vehicle-Detection"]
	path = Term 1/CarND-T1-P5-Vehicle-Detection
	url = git@github.com:norman-thomas/CarND-T1-P5-Vehicle-Detection.git
[submodule "Term 2/CarND-T2-P2-Unscented-Kalman-Filter"]
	path = Term 2/CarND-T2-P2-Unscented-Kalman-Filter
	url = git@github.com:norman-thomas/CarND-T2-P2-Unscented-Kalman-Filter.git
[submodule "Term 2/CarND-T2-P1-Extended-Kalman-Filter"]
	path = Term 2/CarND-T2-P1-Extended-Kalman-Filter
	url = git@github.com:norman-thomas/CarND-T2-P1-Extended-Kalman-Filter.git
[submodule "Term 2/CarND-T2-P3-Kidnapped-Vehicle"]
	path = Term 2/CarND-T2-P3-Kidnapped-Vehicle
	url = git@github.com:norman-thomas/CarND-T2-P3-Kidnapped-Vehicle.git
[submodule "Term 2/CarND-T2-P4-PID-Control"]
	path = Term 2/CarND-T2-P4-PID-Control
	url = git@github.com:norman-thomas/CarND-T2-P4-PID-Control.git
[submodule "Term 2/CarND-T2-P5-MPC"]
	path = Term 2/CarND-T2-P5-MPC
	url = git@github.com:norman-thomas/CarND-T2-P5-MPC.git
